@import "/edu/wpi/first/shuffleboard/app/dark.css";

.root {
    -swatch-100: rgb(255, 200, 100);
    -swatch-200: rgb(255, 175, 75);
    -swatch-300: rgb(255, 150, 50);
    -swatch-400: rgb(255, 125, 25);
    -swatch-500: rgb(255, 100, 0);
}